//Here you can customize bootstrap
$primary: #71213b;
$white: #fff;

* {
  font-size: 16px;
}
body {
  font-family: "Rubik";
  font-weight: 400;
}

@import "~bootstrap/scss/bootstrap";
@import "../components/navbar.scss";
@import "../components/footer.scss";
